$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$paragraph-font-size: 15px;
$classic-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $off-white;
}

img {
    object-fit: cover;
}

p {
    font-size: $paragraph-font-size;
}

.container {
    // max-width: 375px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    text-align: center;
}

.main-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px auto;
}

.text-block {
    margin-bottom: 25px;
}

.main-title {
    color: $very-dark-blue;
    font-weight: $extra-bold-weight;
    text-align: left;
    font-size: 36px;
    margin-bottom: 0.625rem;
}

.text-content {
    color: $dark-grayish-blue;
    text-align: left;
    margin-bottom: 0.625rem;
}

.read-more-button {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: $bold-weight;
    background-color: $soft-red;
    color: $off-white;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: 0;
}

.new-block {
    background-color: $very-dark-blue;
    padding: 20px;
}

.new-block-title {
    color: $soft-orange;
}

.new-block-item {
    margin: 20px 0;
    border-bottom: 1px solid $grayish-blue; 
    padding-bottom: 20px;
}

.new-block-item:last-child {
    margin: 0;
    border-bottom: none; 
    padding-bottom: 0;
}

.new-block-item-header {
    color: $off-white;
    margin-bottom: 10px;
    letter-spacing: 0.05rem;
}

.new-block-item-paragraph {
    color: $grayish-blue;
}

@media (max-width: 375px) {
    .main-image {
        content: url('image-web-3-mobile.jpg');
    }
}

@media (min-width: 376px) {
    .main-image {
        content: url('image-web-3-desktop.jpg');
    }
}






