$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$paragraph-font-size: 15px;
$classic-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $off-white;
}

img {
    object-fit: cover;
}

h1, h2, h3, h4 {
    color: $very-dark-blue;
}

p {
    font-size: $paragraph-font-size;
    color: $dark-grayish-blue;
}

.container {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 26, 0);
    z-index: 1; 
    display: none;
    transition: background-color 0.3s ease;
  }
  
  .container.menu-open .overlay {
    display: block; 
    background-color: rgba(0, 0, 26, 0.5);
  }

.icon-menu-img {
    max-height: 20px;
    max-width: 40px;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon-menu-img:hover,
.icon-menu-img:active,
.icon-menu-img:focus {
    transform: scale(0.9);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 67%;
    height: 100vh;
    padding: 25px 20px 20px 20px;
    background-color: $off-white;
    transition: transform 0.3s ease;
    z-index: 2; 

    .icon-menu-close-img {
        margin-bottom: 5rem;
        margin-left: auto;
        display: block;
        text-align: right;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .icon-menu-close-img:hover,
    .icon-menu-close-img:active,
    .icon-menu-close-img:focus {
        transform: scale(0.9);
    }

    .menu-items {

        .menu-name {
            margin-bottom: 1.75rem;
            color: $very-dark-blue;
        }
    }
}

nav.open {
    transform: translateX(-100%);
}

.main-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px auto;
}

.text-block {
    margin-bottom: 25px;
}

.main-title {
    color: $very-dark-blue;
    font-weight: $extra-bold-weight;
    text-align: left;
    font-size: 36px;
    margin-bottom: 0.625rem;
}

.text-content {
    color: $dark-grayish-blue;
    text-align: left;
    margin-bottom: 0.625rem;
}

.read-more-button {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: $bold-weight;
    background-color: $soft-red;
    color: $off-white;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: 0;
}

.new-block {
    background-color: $very-dark-blue;
    padding: 20px;
    margin-bottom: 2rem;
}

.new-block-title {
    color: $soft-orange;
}

.new-block-item {
    margin: 20px 0;
    border-bottom: 1px solid $grayish-blue; 
    padding-bottom: 20px;
}

.new-block-item:last-child {
    margin: 0;
    border-bottom: none; 
    padding-bottom: 0;
}

.new-block-item-header {
    color: $off-white;
    margin-bottom: 10px;
    letter-spacing: 0.05rem;
}

.new-block-item-paragraph {
    color: $grayish-blue;
}

.news-list-item {
    display: flex;
    margin-bottom: 2rem;
}

.news-list-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-list-item-img {
    width: 102px;
    height: 130px;
    margin-right: 1rem;
}

.news-list-item-number {
    color: $grayish-blue;
    font-size: 28px;
}

.news-list-item-header {
    font-size: 18px;
    font-weight: 800;
}

@media (max-width: 375px) {
    .main-image {
        content: url('image-web-3-mobile.jpg');
    }
}

@media (min-width: 376px) {
    .main-image {
        content: url('image-web-3-desktop.jpg');
    }
}






